

<div class="backToMenuButton">
    <br /><br />
    @using(Html.BeginForm("ReturnToMainMenu", "ToDoApp"))
    {
        <button type="submit">
            Return to main menu
        </button>
    } 
</div>
