
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Main Menu</h3>

<div class="NavigateToShowTasks">
    <br />
    @using(Html.BeginForm("NavigateToAllTasksData", "ToDoApp"))
    {
        <button type="submit">
            Show all tasks
        </button>
    }
</div>

<div class="NavigateToInsertTask">
    <br />
    @using(Html.BeginForm("NavigateToTaskInsertPage", "ToDoApp"))
    {
        <button type="submit">
            Insert new task
        </button>
    }
</div>

<div class="NavigateToUpdateTaskData">
    <br />
    @using(Html.BeginForm("NavigateToUpdateTaskInformation", "ToDoApp"))
    {
        <button type="submit">
            Update task
        </button>
    }
</div>

<div class="NavigateToTasks Searching">
    <br />
    @using(Html.BeginForm("NavigateToTasksSearching", "ToDoApp"))
    {
        <button type="submit">
            Search for certain tasks
        </button>
    }
</div>


@section Scripts{

}