@using TODOapp.Models

@model List<TaskModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Update task data</h3>

<div class="tasksNames">
    @using(Html.BeginForm("ChangeSelectedTaskStatusToDone", "ToDoApp"))
    {
        foreach(TaskModel task in Model)
        {
            @Html.RadioButton("ID", Convert.ToString(task.ID));
            <label>@task.Name</label>
            <br />
        }

        <button type="submit">
            Change to done
        </button>
    }

</div>



<div id="backToMainMenu">

</div>

@section Scripts{

    <script>

        $('#backToMainMenu').load("/ToDoApp/RenderReturnToMainMenuPartial")

    </script>

}


